<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to News Live on Station.</title>
        {% endif %}
        <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
       

    </head>
    <body>
       <!-- Content block -->
       {%extends 'bootstrap/base.html'%}
<div class>
    <!-- Navbar Block -->
    {% block navbar %}
    {% include 'navbar.html' %}

    {% endblock%}
    </div>
   </body>
</html>
