<div class="navbar navbar-inverse font" role="navigation" style="background-color: #2f4f4f;">
    <div class="container-fluid">
        <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
           </button>

            <a class="navbar-brand" href="/"style="color:white;font-size: 40px;margin-top: 30px;margin-bottom: 70px;"></a>
                </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                  <li><a href="/general" style="color:white;font-size: 20px;"class="size">General</a></li>
                    <li><a href="/business"style="color:white;font-size: 20px;"class="size">Business</a></li>
                    <li><a href="/sports"style="color:white;font-size: 20px;"class="size">Sports</a></li>
                    <li><a href="/science"style="color:white;font-size: 20px;"class="size">Science</a></li>
                    <li><a href="/entertainment"style="color:white;font-size: 20px;"class="size">Entertainment</a></li>
                    <li><a href="/technology"style="color:white;font-size: 20px;"class="size">Technology</a></li>
                    <li><a href="/health"style="color:white;font-size: 20px;"class="size">Health</a></li>
                    <li> <script>
    
       </script>
      </li>
            </div>


        </div>
    </div>

    
